In [1]:
import pandas as pd

In [2]:
# path of the dataset. "F:\dataset\Metro_sales_count_now_uc_sfrcondo_month.csv"
df = pd.read_csv("F:\dataset\Metro_sales_count_now_uc_sfrcondo_month.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94 entries, 0 to 93
Columns: 202 entries, RegionID to 2024-06-30
dtypes: float64(197), int64(2), object(3)
memory usage: 148.5+ KB

In [8]:
df.head(4)

,RegionID,SizeRank,RegionName,RegionType,StateName,2008-02-29,2008-03-31,2008-04-30,2008-05-31,2008-06-30,...,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30,2024-05-31,2024-06-30
0,102001,0,United States,country,NaN,202625.0,234900.0,260858.0,287355.0,300727.0,...,310207.0,298123.0,260575.0,248819.0,213559.0,235987.0,284539.0,320104.0,351336.0,323206.0
1,394913,1,"New York, NY",msa,NY,8467.0,8929.0,9863.0,10155.0,10755.0,...,13318.0,13150.0,11371.0,10911.0,10585.0,9131.0,10278.0,11205.0,12473.0,12323.0
2,753899,2,"Los Angeles, CA",msa,CA,4148.0,5049.0,6072.0,6880.0,7234.0,...,5746.0,5788.0,5125.0,4987.0,4407.0,4984.0,6115.0,6714.0,7131.0,6473.0
3,394463,3,"Chicago, IL",msa,IL,5746.0,7212.0,7448.0,8153.0,9030.0,...,8783.0,8399.0,7068.0,7191.0,5536.0,5784.0,7720.0,9318.0,10302.0,10243.0

In [16]:
null_list = df.isnull().sum()

In [19]:
null_list[null_list > 0]

StateName     1
2010-05-31    1
2010-09-30    1
2020-06-30    1
2022-11-30    1
2023-07-31    1
2023-08-31    1
2023-09-30    1
2023-10-31    1
dtype: int64

In [20]:
# TODO: what action would we take here.

In [21]:
# checking duplicated values present or not.

In [22]:
df.duplicated().sum()

0

In [23]:
# we do not have any duplicates found as well.