In [5]:
# configs

In [6]:
import pandas as pd
pd.options.display.max_columns = None
pd.options.display.max_rows = 30

In [1]:
# Loading the data

In [2]:
from utils.dataparser import DataOps
data = DataOps(path="F:\dataset\marketing_data.csv")
data_transformed = data.clean_data()

data type of the given object
Income field type casted.

In [7]:
data_transformed.head(4)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,1826,1970,Graduation,Divorced,84835.0,0,0,6/16/14,0,189,104,379,111,189,218,1,4,4,6,1,0,0,0,0,0,1,0,SP
1,1,1961,Graduation,Single,57091.0,0,0,6/15/14,0,464,5,64,7,0,37,1,7,3,7,5,0,0,0,0,1,1,0,CA
2,10476,1958,Graduation,Married,67267.0,0,1,5/13/14,0,134,11,59,15,2,30,1,3,2,5,2,0,0,0,0,0,0,0,US
3,1386,1967,Graduation,Together,32474.0,1,1,5/11/14,0,10,0,1,0,0,0,1,1,0,2,7,0,0,0,0,0,0,0,AUS

In [8]:
# getting the

In [11]:
from utils.viz import gen_corr_plot

In [18]:
from importlib import reload

In [25]:
import utils.dataparser as dutils

In [26]:
reload(dutils)

In [27]:
dutils.Univariate.numeric_field_types(df= data_transformed)

(['ID', 'MntWines', 'MntMeatProducts'],
 ['Year_Birth',
  'Kidhome',
  'Teenhome',
  'Recency',
  'MntFruits',
  'MntFishProducts',
  'MntSweetProducts',
  'MntGoldProds',
  'NumDealsPurchases',
  'NumWebPurchases',
  'NumCatalogPurchases',
  'NumStorePurchases',
  'NumWebVisitsMonth',
  'AcceptedCmp3',
  'AcceptedCmp4',
  'AcceptedCmp5',
  'AcceptedCmp1',
  'AcceptedCmp2',
  'Response',
  'Complain'])

# Bivariate Analysis

Numerical vs numerical analysis.

In [30]:
corr_matrix = data_transformed_flt.select_dtypes(include=['int']).corr()

import matplotlib.pyplot as plt
# Plotting the heatmap
plt.figure(figsize=(17, 10))
sns.heatmap(corr_matrix, annot=True, cmap='coolwarm', fmt='.2f', linewidths=0.5)
plt.title('Correlation Matrix Heatmap')
plt.show()

NameError: name 'data_transformed_flt' is not defined