In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./dataset.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 187 entries, 0 to 186
Data columns (total 8 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   Manga series                            187 non-null    object
 1   Author(s)                               187 non-null    object
 2   Publisher                               187 non-null    object
 3   Demographic                             187 non-null    object
 4   No. of collected volumes                187 non-null    int64
 5   Serialized                              187 non-null    object
 6   Approximate sales in million(s)         187 non-null    float64
 7   Average sales per volume in million(s)  187 non-null    float64
dtypes: float64(2), int64(1), object(5)
memory usage: 11.8+ KB

In [4]:
df.head()

,Manga series,Author(s),Publisher,Demographic,No. of collected volumes,Serialized,Approximate sales in million(s),Average sales per volume in million(s)
0,One Piece,Eiichiro Oda,Shueisha,Shōnen,104,1997–present,516.6,4.97
1,Golgo 13,"Takao Saito, Saito Production",Shogakukan,Seinen,207,1968–present,300.0,1.45
2,Case Closed / Detective Conan,Gosho Aoyama,Shogakukan,Shōnen,102,1994–present,270.0,2.65
3,Dragon Ball,Akira Toriyama,Shueisha,Shōnen,42,1984–1995,260.0,6.19
4,Doraemon,Fujiko F. Fujio,Shogakukan,Children,45,1969–1996,250.0,4.71

In [6]:
df['Manga series'].nunique()

187

In [7]:
df['Publisher'].nunique()

21

In [8]:
# predict publisher based on the info.
# change serialized. -> replace present with 2000
# seperate those field to from and to. in the data transformation.

In [9]:
# create pipeline for data transormations. Run as mlflow run.
# pipe components
#  > transform the publisher and create column `from` and `new`
#  > Scaling numeric fields
#  > oneHot encoding for categorical