In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv("Data/NFL_2017.csv")

C:\Users\nirva\AppData\Local\Temp\ipykernel_9504\4119731853.py:1: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/NFL_2017.csv")

In [5]:
df.shape

(407688, 102)

In [7]:
df.head()

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
0,2009-09-10,2009091000,1,1,NaN,15:00,15,3600.0,0.0,TEN,...,NaN,0.485675,0.514325,0.546433,0.453567,0.485675,0.060758,NaN,NaN,2009
1,2009-09-10,2009091000,1,1,1.0,14:53,15,3593.0,7.0,PIT,...,1.146076,0.546433,0.453567,0.551088,0.448912,0.546433,0.004655,-0.032244,0.036899,2009
2,2009-09-10,2009091000,1,1,2.0,14:16,15,3556.0,37.0,PIT,...,NaN,0.551088,0.448912,0.510793,0.489207,0.551088,-0.040295,NaN,NaN,2009
3,2009-09-10,2009091000,1,1,3.0,13:35,14,3515.0,41.0,PIT,...,-5.031425,0.510793,0.489207,0.461217,0.538783,0.510793,-0.049576,0.106663,-0.156239,2009
4,2009-09-10,2009091000,1,1,4.0,13:27,14,3507.0,8.0,PIT,...,NaN,0.461217,0.538783,0.558929,0.441071,0.461217,0.097712,NaN,NaN,2009

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 407688 entries, 0 to 407687
Columns: 102 entries, Date to Season
dtypes: float64(33), int64(31), object(38)
memory usage: 317.3+ MB

In [13]:
df.columns

Index(['Date', 'GameID', 'Drive', 'qtr', 'down', 'time', 'TimeUnder',
       'TimeSecs', 'PlayTimeDiff', 'SideofField',
       ...
       'yacEPA', 'Home_WP_pre', 'Away_WP_pre', 'Home_WP_post', 'Away_WP_post',
       'Win_Prob', 'WPA', 'airWPA', 'yacWPA', 'Season'],
      dtype='object', length=102)

In [15]:
# how many season data are available
df.Season.unique()

array([2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017], dtype=int64)

In [16]:
# taking only categorical cols
cat_cols = df.select_dtypes(include=['object'])

In [17]:
cat_cols

,Date,time,SideofField,posteam,DefensiveTeam,desc,ExPointResult,TwoPointConv,DefTwoPoint,PuntResult,...,FieldGoalResult,RecFumbTeam,RecFumbPlayer,ChalReplayResult,PenalizedTeam,PenaltyType,PenalizedPlayer,HomeTeam,AwayTeam,Timeout_Team
0,2009-09-10,15:00,TEN,PIT,TEN,R.Bironas kicks 67 yards from TEN 30 to PIT 3....,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
1,2009-09-10,14:53,PIT,PIT,TEN,(14:53) B.Roethlisberger pass short left to H....,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
2,2009-09-10,14:16,PIT,PIT,TEN,(14:16) W.Parker right end to PIT 44 for -3 ya...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
3,2009-09-10,13:35,PIT,PIT,TEN,(13:35) (Shotgun) B.Roethlisberger pass incomp...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
4,2009-09-10,13:27,PIT,PIT,TEN,(13:27) (Punt formation) D.Sepulveda punts 54 ...,NaN,NaN,NaN,Clean,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,PIT,TEN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
407683,2017-12-31,00:28,BAL,NaN,NaN,Timeout #1 by BAL at 00:28.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAL,CIN,BAL
407684,2017-12-31,00:28,BAL,BAL,CIN,(:28) (Shotgun) J.Flacco pass incomplete short...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAL,CIN,NaN
407685,2017-12-31,00:24,BAL,BAL,CIN,(:24) (Shotgun) J.Flacco pass short middle to ...,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAL,CIN,NaN
407686,2017-12-31,00:14,BAL,CIN,BAL,(:14) A.Dalton kneels to BAL 37 for -1 yards.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAL,CIN,NaN
407687,2017-12-31,00:00,BAL,CIN,BAL,END GAME,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BAL,CIN,NaN

In [19]:
for i in df.columns:
    print(i, df[i].dtype)

Date object
GameID int64
Drive int64
qtr int64
down float64
time object
TimeUnder int64
TimeSecs float64
PlayTimeDiff float64
SideofField object
yrdln float64
yrdline100 float64
ydstogo int64
ydsnet int64
GoalToGo float64
FirstDown float64
posteam object
DefensiveTeam object
desc object
PlayAttempted int64
Yards.Gained int64
sp int64
Touchdown int64
ExPointResult object
TwoPointConv object
DefTwoPoint object
Safety int64
Onsidekick int64
PuntResult object
PlayType object
Passer object
Passer_ID object
PassAttempt int64
PassOutcome object
PassLength object
AirYards int64
YardsAfterCatch int64
QBHit int64
PassLocation object
InterceptionThrown int64
Interceptor object
Rusher object
Rusher_ID object
RushAttempt int64
RunLocation object
RunGap object
Receiver object
Receiver_ID object
Reception int64
ReturnResult object
Returner object
BlockingPlayer object
Tackler1 object
Tackler2 object
FieldGoalResult object
FieldGoalDistance float64
Fumble int64
RecFumbTeam object
RecFumbPlayer object
Sack int64
Challenge.Replay int64
ChalReplayResult object
Accepted.Penalty int64
PenalizedTeam object
PenaltyType object
PenalizedPlayer object
Penalty.Yards int64
PosTeamScore float64
DefTeamScore float64
ScoreDiff float64
AbsScoreDiff float64
HomeTeam object
AwayTeam object
Timeout_Indicator int64
Timeout_Team object
posteam_timeouts_pre int64
HomeTimeouts_Remaining_Pre int64
AwayTimeouts_Remaining_Pre int64
HomeTimeouts_Remaining_Post int64
AwayTimeouts_Remaining_Post int64
No_Score_Prob float64
Opp_Field_Goal_Prob float64
Opp_Safety_Prob float64
Opp_Touchdown_Prob float64
Field_Goal_Prob float64
Safety_Prob float64
Touchdown_Prob float64
ExPoint_Prob float64
TwoPoint_Prob float64
ExpPts float64
EPA float64
airEPA float64
yacEPA float64
Home_WP_pre float64
Away_WP_pre float64
Home_WP_post float64
Away_WP_post float64
Win_Prob float64
WPA float64
airWPA float64
yacWPA float64
Season int64

In [20]:
# filtering the data

In [30]:
df_flt = df[['Date','GameID', 'time','PosTeamScore', 'DefTeamScore', 'HomeTeam', 'AwayTeam', 'Win_Prob', 'Season']]

In [31]:
df_flt = df_flt[df_flt['Season'] == 2009]

In [32]:
df_flt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44596 entries, 0 to 44595
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          44596 non-null  object
 1   GameID        44596 non-null  int64
 2   time          44563 non-null  object
 3   PosTeamScore  41440 non-null  float64
 4   DefTeamScore  41440 non-null  float64
 5   HomeTeam      44596 non-null  object
 6   AwayTeam      44596 non-null  object
 7   Win_Prob      41654 non-null  float64
 8   Season        44596 non-null  int64
dtypes: float64(3), int64(2), object(4)
memory usage: 3.4+ MB

In [33]:
df_flt.head()

,Date,GameID,time,PosTeamScore,DefTeamScore,HomeTeam,AwayTeam,Win_Prob,Season
0,2009-09-10,2009091000,15:00,0.0,0.0,PIT,TEN,0.485675,2009
1,2009-09-10,2009091000,14:53,0.0,0.0,PIT,TEN,0.546433,2009
2,2009-09-10,2009091000,14:16,0.0,0.0,PIT,TEN,0.551088,2009
3,2009-09-10,2009091000,13:35,0.0,0.0,PIT,TEN,0.510793,2009
4,2009-09-10,2009091000,13:27,0.0,0.0,PIT,TEN,0.461217,2009

In [34]:
df_flt_g1 = df_flt[df_flt['GameID'] == 2009091000]

In [35]:
df_flt_g1

,Date,GameID,time,PosTeamScore,DefTeamScore,HomeTeam,AwayTeam,Win_Prob,Season
0,2009-09-10,2009091000,15:00,0.0,0.0,PIT,TEN,0.485675,2009
1,2009-09-10,2009091000,14:53,0.0,0.0,PIT,TEN,0.546433,2009
2,2009-09-10,2009091000,14:16,0.0,0.0,PIT,TEN,0.551088,2009
3,2009-09-10,2009091000,13:35,0.0,0.0,PIT,TEN,0.510793,2009
4,2009-09-10,2009091000,13:27,0.0,0.0,PIT,TEN,0.461217,2009
...,...,...,...,...,...,...,...,...,...
173,2009-09-10,2009091000,12:02,10.0,10.0,PIT,TEN,0.737421,2009
174,2009-09-10,2009091000,11:21,10.0,10.0,PIT,TEN,0.824886,2009
175,2009-09-10,2009091000,11:14,10.0,10.0,PIT,TEN,0.792728,2009
176,2009-09-10,2009091000,10:34,NaN,NaN,PIT,TEN,0.000000,2009
177,2009-09-10,2009091000,10:34,10.0,10.0,PIT,TEN,0.955527,2009