In [16]:
from sklearn.datasets import load_boston
import tensorflow as tf
from tensorflow import keras
import numpy as np

In [2]:
data = load_boston()

In [3]:
x = data.data
y = data.target

In [8]:
data.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [24]:
lstat = x[:,-1]

In [25]:
lstat = np.array(lstat, np.float32)

In [23]:
price = np.array(y, np.float32)

In [26]:
# fitting a linear regrssion model on the data lstat and price
# defining parameters for the fit
# intercept and slop
slop = tf.Variable(0.1, tf.float32)
intercept = tf.Variable(0.1, tf.float32)

In [27]:
# definging the linear reg model
def linear_model(intercept, slop, features = lstat):
  return features * slop + intercept

In [28]:
# defining the loss function
def loss_function(intercept, slop, target = price, features = lstat):
  predictions = linear_model(intercept, slop)
  return keras.losses.mse(target,predictions)

In [29]:
# defining the optimizer in order to optimize the parameter slop and intercept
# initializing the ADAM optimizer
opt = keras.optimizers.Adam()

In [32]:
# looping through >> setting the epochs
for j in range(1000):
  opt.minimize(lambda: loss_function(intercept, slop=slop), [intercept, slop])
  if j % 100 == 0:
    print(intercept,slop)

<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.6811805> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0173163>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.7553458> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0179256>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.8306961> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0169625>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.9073046> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0147648>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.985209> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0116189>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=2.0644178> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0077575>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=2.1449153> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=1.0033659>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=2.2266667> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=0.99858737>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=2.3096218> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=0.9935299>
<tf.Variable 'Variable:0' shape=() dtype=float32, numpy=2.393723> <tf.Variable 'Variable:0' shape=() dtype=float32, numpy=0.988272>

In [33]:
# learning the same using batch learning

In [34]:
import pandas as pd

In [36]:
# Dense layers
df = pd.read_csv('https://assets.datacamp.com/production/repositories/3953/datasets/692b2c9bd91688f9f96882f10f0edf691ae32ec9/uci_credit_card.csv')

In [37]:
df.head()

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0
4   5    50000.0    1  ...     689.0     679.0                           0

[5 rows x 25 columns]

In [ ]:
# creating dense layer using low level api
# defining inputs